labelledDataset.csv
venv
__pycache__
.idea
.pytest_cache
machine-learning/hate_speech_classifier
machine-learning/hate_speech_CountVectorizer
machine-learning/lr_hate_speech_classifier
machine-learning/lr_hate_speech_CountVectorizer
machine-learning/svm_hate_speech_CountVectorizer
machine-learning/svm_hate_speech_classifier
machine-learning/similarity.py
machine-learning/py3env
machine-learning/ft.train
machine-learning/ft.test
machine-learning/ft.bin
machine-learning/labelled.train
machine-learning/cnn.h5
.vscode
.eslintrc*
.coverage
package.json
